.Card{
    /* max-width: 134px;
    background-color: green;
    color: white;
    padding: 23px; */

    margin-top: 37px;
    flex-basis: 47%;
    min-width: 260px;
    text-align: center;
   
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0 0 6px 0px rgba(185, 185, 185, 0.411);
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 37px;


}



.card-img{
width: 100%;
height: 15rem;
padding: 23px;
}


.card-img img{
    width: 100%;
    height: 100%;
   
}


.description{
    padding: 6px;
    text-overflow: ellipsis;
}

.date{
    font-size: 12px;
}

.date span{
    color: black;
    font-weight: 700;
}

@media only screen and (max-width:680px){
    .card-img{
        padding: 13px;
      
    }
}