.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
}

.header__toggle{
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;

}

.source{
    letter-spacing: 7px;
}



.sidenavBar{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(var(--nav-width));
    height: 100vh;
    background-color: var(--first-color);
    transition: .5s;
    z-index: var(--z-fixed);
    padding: 1rem 1rem 0 0;
}


.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__logo,.nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}



.nav__logo{
    margin-bottom: 2rem;
}

.nav__logo-icon{
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav__logo-name{
    color: var(--white-color);
    font-weight: 700;
}


.nav__link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav__link:hover{
    color: var(--white-color);
}

.nav__icon{
    font-size: 1.25rem;
}

.show{
    left: 0;
}


.body-pd{
    padding-left: calc(var(--nav-width) + 1rem);
}


.active{
    color: var(--white-color);
}


.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}



@media  screen  and (min-width:768px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header__img{
        width: 40px;
        height: 40px;
    }

    .header__img img{
        width: 45px;
    }
    .i-navbar{
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show{
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd{
        padding-left: calc(var(--nav-width) + 188px);
    }
}




@media  screen  and (max-width:767px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        /* padding-left: calc(var(--nav-width) + 2rem); */
    }

    .header{
    
        padding: 0 1rem;
      
    }
    .sidenavBar{
        left: -30%;
    }
    .show{
        left: 0;
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 1rem);
    }
}

