.Card-Content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
};

/* Sports */
.head{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    margin-bottom: 39px;
}
.head::after{
    content: '';
    background-color: var(--first-color);
    width: 60px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    /* bottom: 0; */
    /* left: 50%; */
    /* left: 11%; */
    margin-left: 31px;
    transform: translateX(-50%);
}