
:root{
  --header-height:3rem;
  --nav-width:68px;

  --first-color:#000c0b;
  --first-color-light:#AFA5D9;
  --white-color:#F7F6FB;

  --body-font:sans serif;
  --normal-font-size:1rem;

  --z-fixed:100;
}


*,::before,::after{
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100%;
}
body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}


a{
  text-decoration: none;
  color:  var(--first-color);
}

